$bioImgSize: 40vh;
$bioCardSize: 65vh;

.bio-card {
  min-height: $bioCardSize;
  height: $bioCardSize;
  max-height: $bioCardSize;
}

.scroll {
  overflow-y: auto;
}

.img-thumbnail {
  height: $bioImgSize;
  object-fit: contain;
}