$image-size: 20%;

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.pricing-header{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.image-container
{
  border:1px solid blue;
  height: 100vh;
  width: 100%;
  text-align: center;

  img{
    vertical-align: top;
    height: $image-size;
    max-height: $image-size;
    min-height: $image-size;
    border:1px solid red;
  }
}